# Dependency directories
node_modules/

# TypeScript compiled output
dist/
build/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Optional npm cache & error logs
.npm/
npm-debug.log*

# Yarn Integrity file
.yarn-integrity

# Solita
.crates/

# Solana Wallet
my-solana-wallet.json